    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="<%= root_path %>" rel="tooltip">
                    Blue Cheese Project
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= root_path%>">Qui sommes-nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= root_path %>">Le peer-learning</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="pablo" class="dropdown-toggle nav-link" data-toggle="dropdown" id="navbarDropdownMenuLink1">
                                Liens pratiques
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item" href="<%= root_path %>">Modalités</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="<%= root_path %>">FAQ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="<%= root_path %>">Contact</a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Suivez-nous sur Facebook" data-placement="bottom" href="https://www.facebook.com/blue-cheese-stix/" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
    </nav>
    
