  <div class="testimonials-1 section-image" style="background-image: url(<%= asset_path 'rocky-mountains.jpg' %>);">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Témoignages</h2>
                        <h4 class="description text-white">Des témoignages en veux-tu en voilà.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'juan.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="category text-primary"><%= Bootcamp.find(1).name %> - <%= Bootcamp.find(1).cursus %> - <%= Bootcamp.find(1).city %> - 2017</p>
                                <p class="card-description">
                                  "<%= Bootcamp.find(1).testimonial %>"
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Juan Pablo</h4>
                                <div class="card-network">
                                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'isabelle.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="category text-primary"><%= Bootcamp.find(2).name %> - <%= Bootcamp.find(2).cursus %> - <%= Bootcamp.find(2).city %> - 2016</p>
                                <p class="card-description">
                                    "<%= Bootcamp.find(2).testimonial %>"
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Isabelle Beard</h4>
                                <div class="card-network">
                                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'maxime.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="category text-primary"><%= Bootcamp.find(3).name %> - <%= Bootcamp.find(3).cursus %> - <%= Bootcamp.find(3).city %> - 2017</p>
                                <p class="card-description">
                                  "<%= Bootcamp.find(3).testimonial %>"
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Maxime Dupont</h4>
                                <div class="card-network">
                                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
