<body class="profile-page sidebar-collapse">
    <%= render 'header' %>
    <div class="wrapper">
        <div class="cd-section" id="headers">
            <div class="header-1">
                <div class="page-header header-filter">
                    <div class="page-header-image" title="Photo by Jez Timms on Unsplash" style="background-image: url( <%= asset_path 'blue_cheese_1.jpg' %>);"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <br><br>
                                    <h1 class="title text-right">Blue Cheese Project</h1>
                                    <h4>Parce qu'être un bleu ça s'apprend</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= render '/layouts/flash-alert'%>
            </div>
        </div>
    </div>
    <%= render 'google-map'%>
    
    <%= render 'testimonials'%>
    
    <div class="section-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ml-auto mr-auto">
                        <br><br>
                        <!-- <h2 class="title">Subscribe bitch</h2> -->
                        <p class="description">Inscrivez-vous et recevez un report régulier sur les derniers bootcamps; les témoignages, bref l'actu du domaine
                            <br>
                        </p>
                        <form role="form" id="contact-form" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </span>
                                <input type="email" name="email" class="form-control" placeholder="exemple@exemp.le">
                            </div>
                            <div class="submit text-center">
                                <input type="submit" class="btn btn-primary btn-raised btn-round" value="Nous contacter" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    <% if false %>
        <%= render 'about-us'%>
        <%= render 'some-stats'%>
    <% end%>

    <%= render 'footer' %>

    </div>