<body class="profile-page sidebar-collapse">
    <%= render 'header' %>
    <div class="wrapper">
        <div class="cd-section" id="headers">
            <div class="header-1">
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url( <%= asset_path 'french_cheeses.jpg' %>);"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <br><br>
                                    <h1 class="title text-right">Blue Cheese Project</h1>
                                    <h4>Pour ceux qui aiment le fromage, en ligne</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= render '/layouts/flash-alert'%>
            </div>
        </div>
    </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Qui sommes-nous ?</h2>
                        <h5 class="description">Le Blue Cheese Project est une plateforme qui propose d'avoir accès à toutes les initiatives permettant de prendre sa vie en main.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url(<%= asset_path 'front-image3.jpg' %>)">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"Ils m'ont demandé ce que je voulais faire quand je serais grand, j'ai dit j'veux tout baiser."
                                    <br>
                                    <br>
                                    <small>-Booba</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url(<%= asset_path 'front-image4.jpg' %>)"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url(<%= asset_path 'front-image.jpg' %>)"></div>
                            <h3>Notre histoire</h3>
                            <p>Et si l'on réinventait l'école ? C'est la question que Félix et Charles se sont posés en créant une école nouvelle génération où les élèves transpirent en groupe sur des projets concrets.<br> L'émulation d'équipe fait naître un esprit de corps. En tant qu'explorateurs, les élèves découvriront toutes les facettes des projets enseignés et réapprennent à apprendre.
                            </p>
                            <p>Félix et Charles se sont rencontrés en étant élèves de cette formation, dans le tout premier groupe. En étant leurs propres profs, et en faisant des projets concrets, ce premier groupe de 6 personnes a appris à coder en trois mois. Ils ont eu une révélation sur ce modèle : cela marche, et cela permet de proposer des cursus gratuits et ouverts à tous.
                            </p>
                            <p>Des squats du 93, à la Côte d'Ivoire, en passant par la scène tech parisienne et même la Martinique, des groupes ont commencé à fleurir partout dans le monde, avec comme objectif unique : galérer ensemble pour parvenir en 12 semaines à avoir les clés de la boite à outil du domaine du cursus choisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="features-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Chiffres clés</h2>
                            <h4 class="description">Qu'avons-nous fait depuis notre création ?</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-primary icon-circle">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">150</h4>
                                <p class="description">Moussaillons sont passés par THP.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-info icon-circle">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">50</h4>
                                <p class="description">Mentors impliqués dans la communauté.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-success icon-circle">
									<i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">Villes investies, sur 3 continents.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-warning icon-circle">
<i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">3</h4>
                                <p class="description">Entreprises créés à la suite de The Hacking Project.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-default icon-circle">
<i class="fa fa-coffee" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">15000</h4>
                                <p class="description">Tasses de café bues.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-danger icon-circle">
<i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">En seulement 5 mois d'existence.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="testimonials-1 section-image" style="background-image: url(<%= asset_path 'testimonials.jpg' %>)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Témoignages</h2>
                        <h4 class="description text-white">Parce qu'un vrai site de formation ne serait jamais complet sans une telle catégorie, voici quelques témoignages complètement pris au hasard de certains de nos corsaires.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'juan.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    "J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'etait également pour moi un moyen d'avoir une meilleure rémunération."
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Juan-Pablo ANGARITA</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'isabelle.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En plus de me donner suffisamment de bases en code pour lancer <%= link_to("AlgoSki", "https://www.algo.ski/" , target: "_blank") %>, The Hacking Project m'a réappris à apprendre. Je recommande la formation !
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Isabelle Bonnet</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'maxime.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Maxime Souillat</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="projects-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Découvrez Blue Cheese Project</h2>
                            <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
                              
                            </ul>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
		<%= render 'footer' %>

    </div>