<body class="profile-page sidebar-collapse">
    <%= render 'header' %>
    <div class="wrapper">
        <div class="cd-section" id="headers">
            <div class="header-1">
                <div class="page-header header-filter">
                    <div class="page-header-image" title="Photo by Jez Timms on Unsplash" style="background-image: url( <%= asset_path 'blue_cheese_1.jpg' %>);"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <br><br>
                                    <h1 class="title text-right">Blue Cheese Project</h1>
                                    <h4>Parce qu'être un bleu ça s'apprend</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= render '/layouts/flash-alert'%>
            </div>
        </div>
    </div>
    <%= render 'google-map'%>
    
    <% if false %>
        <%= render 'about-us'%>
        <%= render 'some-stats'%>
    <% end%>

        <div class="testimonials-1 section-image" style="background-image: url(<%= asset_path 'testimonials.jpg' %>)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Témoignages</h2>
                        <h4 class="description text-white">Parce qu'un vrai site de formation ne serait jamais complet sans une telle catégorie, voici quelques témoignages complètement pris au hasard de certains de nos corsaires.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'juan.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    "J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'etait également pour moi un moyen d'avoir une meilleure rémunération."
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Juan-Pablo ANGARITA</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'isabelle.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En plus de me donner suffisamment de bases en code pour lancer <%= link_to("AlgoSki", "https://www.algo.ski/" , target: "_blank") %>, The Hacking Project m'a réappris à apprendre. Je recommande la formation !
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Isabelle Bonnet</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'maxime.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Maxime Souillat</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!-- <div class="projects-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Découvrez Blue Cheese Project</h2>
                            <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
                              
                            </ul>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div> -->
		<%= render 'footer' %>

    </div>