<body class="profile-page sidebar-collapse">
    <%= render 'header' %>
    <div class="wrapper">
        <div class="cd-section" id="headers">
            <div class="header-1">
                <div class="page-header header-filter">
                    <div class="page-header-image" style="background-image: url( <%= asset_path 'front-image2.jpg' %>);"></div>
                    <div class="content-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 ml-auto text-right">
                                    <br><br>
                                    <h1 class="title text-right">Blue Cheese Project</h1>
                                    <h4>Pour ceux qui aiment le fromage, en ligne</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%= render '/layouts/flash-alert'%>
            </div>
        </div>
    </div>
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Qui sommes-nous ?</h2>
                        <h5 class="description">The Hacking Project est une formation qui propose des cursus gratuits, professionnalisants, à plein temps, ouverts à tous, et sans pré-requis. Nous utilisons le modèle du peer-learning (groupes autonomes, apprentissage par projets concrets, grande communauté) pour émuler un esprit de corps et stimuler le cerveau vers un apprentissage ludique. Et cela nous permet d'être gratuits et accessibles à tous.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url(<%= asset_path 'front-image3.jpg' %>)">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"La marque distinctive du savant, c'est la capacité d'enseigner."
                                    <br>
                                    <br>
                                    <small>-Aristote</small>
                                </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container" style="background-image: url(<%= asset_path 'front-image4.jpg' %>)"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right" style="background-image: url(<%= asset_path 'front-image.jpg' %>)"></div>
                            <h3>Notre histoire</h3>
                            <p>Et si l'on réinventait l'école ? C'est la question que Félix et Charles se sont posés en créant une école nouvelle génération où les élèves transpirent en groupe sur des projets concrets.<br> L'émulation d'équipe fait naître un esprit de corps. En tant qu'explorateurs, les élèves découvriront toutes les facettes des projets enseignés et réapprennent à apprendre.
                            </p>
                            <p>Félix et Charles se sont rencontrés en étant élèves de cette formation, dans le tout premier groupe. En étant leurs propres profs, et en faisant des projets concrets, ce premier groupe de 6 personnes a appris à coder en trois mois. Ils ont eu une révélation sur ce modèle : cela marche, et cela permet de proposer des cursus gratuits et ouverts à tous.
                            </p>
                            <p>Des squats du 93, à la Côte d'Ivoire, en passant par la scène tech parisienne et même la Martinique, des groupes ont commencé à fleurir partout dans le monde, avec comme objectif unique : galérer ensemble pour parvenir en 12 semaines à avoir les clés de la boite à outil du domaine du cursus choisi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="features-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2 class="title">Chiffres clés</h2>
                            <h4 class="description">Qu'avons-nous fait depuis notre création ?</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-primary icon-circle">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">150</h4>
                                <p class="description">Moussaillons sont passés par THP.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-info icon-circle">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">50</h4>
                                <p class="description">Mentors impliqués dans la communauté.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-success icon-circle">
									<i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">Villes investies, sur 3 continents.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-warning icon-circle">
<i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">3</h4>
                                <p class="description">Entreprises créés à la suite de The Hacking Project.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-default icon-circle">
<i class="fa fa-coffee" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">15000</h4>
                                <p class="description">Tasses de café bues.</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="info info-hover">
                                <div class="icon icon-danger icon-circle">
<i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <h4 class="info-title">5</h4>
                                <p class="description">En seulement 5 mois d'existence.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Nos cursus</h2>
                            <h4 class="description">En 12 semaines, devenez un bon dans ces domaines.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        	<a href="<%= home_code_path %>">
	                            <div class="card card-background card-raised hover-stylay" data-background-color style="background-image: url(<%= asset_path 'cursus-code.jpg' %>)">
	                                <div class="info">
	                                    <div class="icon icon-white">
											<i class="fa fa-code" aria-hidden="true"></i>
	                                    </div>
	                                    <div class="description">
	                                        <h4 class="info-title">Code</h4>
	                                        <p>Apprendre à faire son Airbnb</p>
	                                    </div>
	                                </div>
	                            </div>
                        	</a>
                        </div>
                        <div class="col-md-6">
                        	<a href="<%= home_sales_path %>">
	                            <div class="card card-background card-raised hover-stylay" data-background-color style="background-image: url(<%= asset_path 'cursus-sales.jpg' %>)">
	                                <div class="info">
	                                    <div class="icon icon-white">
											<i class="fa fa-money" aria-hidden="true"></i>
	                                    </div>
	                                    <div class="description">
	                                        <h4 class="info-title">Sales</h4>
	                                        <p>Signer le contrat du siècle</p>
	                                    </div>
	                                </div>
	                            </div>
                        	</a>
                        </div>
                    </div>
                    <br><br><br><br><br>
                </div>
            </div>


        <div class="testimonials-1 section-image" style="background-image: url(<%= asset_path 'testimonials.jpg' %>)">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <h2 class="title">Témoignages</h2>
                        <h4 class="description text-white">Parce qu'un vrai site de formation ne serait jamais complet sans une telle catégorie, voici quelques témoignages complètement pris au hasard de certains de nos corsaires.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'juan.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    "J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'etait également pour moi un moyen d'avoir une meilleure rémunération."
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Juan-Pablo ANGARITA</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'isabelle.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En plus de me donner suffisamment de bases en code pour lancer <%= link_to("AlgoSki", "https://www.algo.ski/" , target: "_blank") %>, The Hacking Project m'a réappris à apprendre. Je recommande la formation !
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Isabelle Bonnet</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img img-raised" src="<%= asset_path 'maxime.jpg' %>">
                                </a>
                            </div>
                            <div class="card-body">
                                <p class="card-description">
                                    En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.
                                </p>
                            </div>
                            <div class="icon icon-primary">
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="card-footer">
                                <h4 class="card-title">Maxime Souillat</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="projects-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Découvrez The Hacking Project</h2>
                            <ul class="nav nav-pills nav-pills-danger justify-content-center" role="tablist">
                                <li class="nav-item">
                                	<a href="<%= home_peer_learning_path %>">
                                		<button class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Comment notre système de peer-learning marche-t-il ? Pourquoi ça marche ?">Le peer-learning</button>
                                	</a>
                                </li>
                                <li class="nav-item">
                                	<a href="<%= home_modalites_path %>">
										<button class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Qu'attendons-nous de vous ? Combien ça coûte ? Comment ça marche concrètement ?">Modalités</button>
									</a>
                                </li>
                                <li class="nav-item">
                                    <a href="<%= home_about_path %>">
                                        <button class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Quelle est notre philosophie ? Pourquoi avons-nous monté The Hacking Project ?">Qui sommes-nous ?</button>
                                    </a>
                                </li>
                                <li class="nav-item">
                                	<a href="<%= home_faq_path %>">
										<button class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Des questions ? Elles seront sûrement répondues ici 😉">Foire Aux Questions</button>
									</a>
                                </li>
                                <li class="nav-item">
                                	<a href="<%= home_contact_path %>">
										<button class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Pour prendre contact avec nous, c'est par ici !">Contacts</button>
									</a>
                                </li>
                            </ul>
                        </div>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
		<%= render 'footer' %>

    </div>